{% extends 'core/base.html' %}

{% block content %}
<div>
    <h2>Hello {{ fname }}</h2>
    <h4>Welcome to dashboard.</h4>

    <h4>User details: </h4>
    <ul>
        <li>ID: {{ user.id }}</li>
        <li>First name: {{ user.first_name }}</li>
        <li>Last name: {{ user.last_name }}</li>
        <li>Username: {{ user.username }}</li>
        <li>Email address: {{ user.email }}</li>
        <li>Is Superuser: {{ user.is_superuser }}</li>
        <li>Is Stuff: {{ user.is_stuff|yesno:"Yes,No" }}</li>
        <li>Is Active: {{ user.is_active }}</li>
        <li>Last Login: {{ user.last_login }}</li>
    </ul>
</div>
{% endblock content %}